# Created by .ignore support plugin (hsz.mobi)
.idea/Prac_HTMLCSSJS.iml
.idea/images/
.idea/js/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
Prac_HTMLCSSJS.iml
workspace.xml
vcs.xml
misc.xml
modules.xml

