*{
    box-sizing: border-box;
}

html{
    margin: 0;

}

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
}

.header > .slider-tittle{
    position: absolute;
    width: 100%;
    top:40%;
    color: white;
    text-align: center;
    font-size: 80px;

}

.header > .slider-img{
    max-width: 100%;
    background-image: url("./images/sliderimg.jpg") ;
    height: 100vh;
    background-size:100% 100%;
    background-position: center center;
}

.header > .slider-cite{
    position: absolute;
    width: 100%;
    top:55%;
    color: white;
    text-align: center;
    font-size: 28px;

}

.navbar > .navbar-list{
    list-style-type: none;
    margin: 0;
    float: right;
    font-size: 0; /*Para arreglar el espacio entre elementos*/

}

.navbar > .navbar-list > .navbar-item{
    display: inline-block;
    font-size: 16px; /* Le vuelvo a setear su tamaño*/

}

.navbar > .navbar-list > .navbar-item.active > .navbar-link{
    color: #F7F7F7;
    background-color: #888888;
}

.navbar > .navbar-list > .navbar-item > .navbar-link {
    display: inline-block;
    text-decoration: none;
    padding: 30px;
    color: rgba(0,0,0,0.8);

}

.navbar > .navbar-list > .navbar-item > .navbar-link:hover {
    color: #F7F7F7;
    background-color: #888888;

}


.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.section-container{
    padding-top: 30px;
    padding-bottom: 80px;
    min-height: 400px;
}

.row-flex{
    display: flex;
    flex-flow: nowrap;
}

.flex-item {
    justify-content: center;
    flex: 1;
}



.navbar{
    width: 100%;
    position: fixed;
    background-color: #F7F7F7;
    top:0;
    z-index: 99;
}

p.text-divisor:before{ /*isn't work*/
    position: absolute;
    top: 10px;
    left: 0;
    width: 2px;
    height: 41px;
    background-color: #1ae8f4;
    content: "";
    display: inline-block;
}

.me-tittle{
    font-family: 'Cinzel', serif;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.5;
    font-weight: bold;

}

.container-meimg{
    align-items: center; /*revisar no me centra el contenido*/
    position: relative;
    margin-left: 60px;
    margin-top: -160px;
    z-index: 10;

}

.container-meimg > .me-img{
    width: 400px;
    height: auto;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    align-self: center;
}

.me-description{
    font-family: 'Roboto Condensed',sans-serif;
    line-height: 1.55;
    font-size: 18px;
    color: #888888;
}

p.text-divisor:before{ /*isn't work*/
    position: absolute;
    top: 10px;
    left: 0;
    width: 2px;
    height: 41px;
    background-color: #1ae8f4;
    content: "";
    display: inline-block;
}

.studies-box{
    padding: 0 30px 0 30px;
}

.section-reverse{
    background-color: #243238;
    color: white;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    padding: 50px 30px 50px 30px;
    /*min-height: 400px;*/
    width: 100%;

}

.studies-tittle{
    font-family: 'Cinzel', serif;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.5;
    font-weight: bold;

}

.studies-description{
    font-family: 'Roboto Condensed',sans-serif;
    line-height: 1.55;
    font-size: 18px;
    color: #888888;
}

.contact-form{
    background-color: #888888;
    min-width: 300px;
    width: 100%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.footer{
    min-height: 500px;
    text-align: center;
    background-color: grey;
}

.clearfix:after{
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}